<h3>Welcome to Blue Compass</h3>
<div>User Created</div>
<div>User Details </div>
<div>User Email Id: <%=@email_id%></div>
<div>Password: <%=@email_id%></div>

<div>
    Thanks,
    Blue Compass Team.
</div>