<div class="row">
  <div class="col-xs-9 col-xs-offset-1">
    <h1>No freight forwarders for selected locations</h1>
  </div>

  <div class="col-xs-2">
    <div class="slctd-sr-list cart_detail">
      <%= render :partial => 'bookings/cart_details'%> 
    </div>           
  
    <div class="ssdd-btn btn-group">
     <a href="#" class="btn btn-default dropdown" data-toggle="dropdown">
       Selected Shippers <span class="caret"></span>
     </a>
     <ul class="dropdown-menu ss-dd-list" role="menu">
                   
     </ul>
    </div>

  </div>
</div>
