<div class="row">
  <div class="col-xs-9 col-xs-offset-1">
    <h1>No freight forwarders for selected locations</h1>
  </div>

  <div class="col-xs-2">
    <div class="slctd-sr-list cart_detail">
      <%= render :partial => 'bookings/cart_details'%> 
    </div>           
  
    <div class="ssdd-btn btn-group">
     <a href="#" class="btn btn-default dropdown" data-toggle="dropdown">
       Selected Shippers <span class="caret"></span>
     </a>
     <ul class="dropdown-menu ss-dd-list" role="menu">
       <li class="dd-li">
           <label for="checkbox_1">One</label>
           <input type="checkbox" id="checkbox_1" name="checkbox_1" value="Checkbox One" />
       </li>
       <li class="dd-li">
           <label for="checkbox_2">Two</label>
           <input type="checkbox" id="checkbox_2" name="checkbox_2" value="Checkbox One" />
       </li>
       <li class="dd-li">
           <label for="checkbox_3">Three</label>
           <input type="checkbox" id="checkbox_3" name="checkbox_3" value="Checkbox One" />
       </li>
       <li class="dd-li">
           <label for="checkbox_4">Four</label>
           <input type="checkbox" id="checkbox_4" name="checkbox_4" value="Checkbox One" />
       </li>
       <li class="dd-li">
           <label for="checkbox_5">One</label>
           <input type="checkbox" id="checkbox_5" name="checkbox_5" value="Checkbox One" />
       </li>
       <li class="dd-li">
           <label for="checkbox_6">Two</label>
           <input type="checkbox" id="checkbox_6" name="checkbox_6" value="Checkbox One" />
       </li>
       <li class="dd-li">
           <label for="checkbox_7">Three</label>
           <input type="checkbox" id="checkbox_7" name="checkbox_7" value="Checkbox One" />
       </li>
       <li class="dd-li">
           <label for="checkbox_8">Four</label>
           <input type="checkbox" id="checkbox_8" name="checkbox_8" value="Checkbox One" />
       </li>                     
     </ul>
    </div>

  </div>
</div>
