<div class="hsbody-2-right">
        <div class="f-size-22" id="delete_user_account">
            <h2 class="create-account-heading">Privacy Policy</h2>
            <p><img height="190" width="200" alt="Privacy Notice" src="https://www.bluecompass.com/images/Lock.png" title="Privacy Notice" style="float: right; margin-left: 15px; margin-right: 0px;"></p>
<p>We know that you care how information about you is used and shared and we appreciate your trust in us to do that carefully and sensibly. This notice describes the privacy policy of bluecompass. By visiting bluecompass, you are accepting and consenting to the practices described in this Privacy Notice.</p>
<p>&nbsp;</p>
<p>By accessing this Site, certain information about you, such as Internet protocol (IP) addresses, navigation through the Site, the systems and programs used and the time spent, along with other similar information, may be stored on our servers.</p>
<p>&nbsp;</p>
<p>Such stored information may not specifically identify you. Please be informed that we may use this information for web site traffic analysis or for such other purposes, as we may deem appropriate.</p>
<p>&nbsp;</p>
<p>If you provide unique identifying information, such as name, address and other information to us, such information may be used for statistical and/or other purposes.</p>
<p>&nbsp;</p>
<p>Any personally identifiable information you submit while registering a profile or booking with a forwarder through bluecompass will only be disclosed to forwarders who are linked to your bookings. We will not disclose, sell, share or in any way reveal your information to any other third party.</p>
<p>&nbsp;</p>
<p>This website uses the Google AdWords remarketing service to advertise on third party websites (including Google) to previous visitors to our site. It could mean that we advertise to previous visitors who haven’t completed a task on our site, for example using the contact form to make an enquiry. This could be in the form of an advertisement on the Google search results page, or a site in the Google Display Network. Third-party vendors, including Google, use cookies to serve ads based on someone’s past visits to this website. Of course, any data collected will be used in accordance with our own privacy policy and Google’s privacy policy.</p>
<p>&nbsp;</p>
<p>You can set preferences for how Google advertises to you using the <a target="_blank" href="http://www.google.com/settings/ads/onweb/">Google Ad Preferences</a> page, and if you want to you can&nbsp;opt out of interest-based advertising entirely by cookie settings or&nbsp;permanently using a browser plugin.</p>
<p>&nbsp;</p>
<p>We want you to feel confident about using bluecompass to plan and purchase your bookings, so we are committed to protecting the information we collect. While no web site can guarantee security, we have implemented appropriate administrative, technical, and physical security procedures to help protect the personal information you provide to us. To prevent unauthorized access, maintain data accuracy, and ensure correct use of information, we will employ reasonable and current Internet security methods and technologies.</p>        </div>
    </div>