<h1>Thank you showing interest in our Blue Compass services.</h1>
<br/>
<br/>
<h3>Our sales team contact you shortly.</h3>
<p>Blue Compass has sent verification mail, please check your email and verify to continue booking.</p>
