<div>Booking is active</div>
<div>Booking Details </div>
<div>from: <%=@booking.source.full_address%></div>
<div>to: <%=@booking.destination.full_address%></div>

<div>
  Thanks,
  Blue Compass Team.
</div>