<div>Booking is Confirmed</div>
<div>Booking Details </div>
<div>from: <%=@booking.source.port_name%></div>
<div>to: <%=@booking.destination.port_name%></div>

<div>
  Thanks,
  Blue Compass Team.
</div>