<div>Booking is Rejected</div>
<div>Booking Details </div>
<div>from: <%=@booking.source%></div>
<div>to: <%=@booking.destination%></div>
<div>Reason: <%=@booking.remark%></div>

<div>
  Thanks,
  Blue Compass Team.
</div>