<div class="side-wrapper active">
  <aside class="aside-bar" id="sidebar-content">
    <div class="list-group aside-menu">
      <a class="list-group-item" href="#ma-menu" data-toggle="collapse">My Account</a>
      <ul class="aside-bar-submenu nav collapse" id="ma-menu">
       <li>
         <a href="/myaccount">Settings</a>
       </li>
       <li>
         <a href="/register_supplier_consignee">Registered shippers and consignees</a>
       </li>
       <li>
         <a href="/privacy">Privacy</a>
       </li>
       <li>
         <a href="/deleteUserAccount">Delete Account</a>
       </li>
      </ul>
      <a class="list-group-item" href="#">Active Booking</a>
      <a class="list-group-item" href="#">Booking on Hold</a>
      <%= link_to "Draft Booking", draft_bookings_bookings_path, {class: "list-group-item"} %>
      <%= link_to "Archived Bookings", archived_bookings_bookings_path, {class: "list-group-item"} %>
    </div>
  </aside>
</div>
<div class="page-overlay"></div>