<footer class="main-footer">
  <div class="mega-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-3">
              <h6>How It Works ?</h6>
              <ul class="list-block">
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
              </ul>         
            </div>
            <div class="col-xs-3">
              <h6>Company</h6>
              <ul class="list-block">
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
              </ul>         
            </div>
            <div class="col-xs-3">
              <h6>Info &amp; Service</h6>
              <ul class="list-block">
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
              </ul>         
            </div>
            <div class="col-xs-3">
              <h6>Ship Easy</h6>
              <ul class="list-block">
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
              </ul>         
            </div>
          </div>          
        </div>
        <div class="col-xs-3">
          
        </div>
      </div>
    </div>
  </div>
  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <p>&copy; 2014 | Blue Compass</p>
        </div>
        <div class="col-xs-6 text-right">
          <ul class="list-inline link-bar-seperator">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>    
  </div>
</footer>