<header class="navbar navbar-fixed-top header-nav">
  <div class="container-fluid">
    <button type="button" class="navbar-left aside-toggle" id="btn-aside">
     <span class="move-bars">
       <span></span>
       <span></span>
       <span></span>
     </span>
    </button>
    <%=link_to "Blue Compass", root_path, {class: 'navbar-brand'} %>
    <div class="pull-right">
      <ul class="nav navbar-nav navbar-right header-links">
        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Call Support"><i class="fa fa-phone"></i> +91-1234567890</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Email Support"><i class="fa fa-envelope"></i> Support</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Logout #{current_user.first_name}", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="#" id="login-link"><i class="fa fa-sign-in"></i> Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>