<header class="navbar navbar-fixed-top header-nav">
  <div class="container-fluid">
    <button type="button" class="navbar-left aside-toggle" id="btn-aside">
      <ul class="move-bars">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </button>
    <a class="navbar-brand" href="index.html" title="Home">Blue Kompass</a>
    <div class="pull-right">
      <ul class="nav navbar-nav navbar-right header-links">
        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Call Support"><i class="fa fa-phone"></i> +91-1234567890</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Email Support"><i class="fa fa-envelope"></i> Support</a></li>
        <li><a href="#login-modal" data-toggle="modal"><i class="fa fa-sign-in"></i> Login</a></li>
        <li class="hidden"><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</header>