<div class="side-wrapper active">
  <aside class="aside-bar" id="sidebar-content">
    <div class="list-group aside-menu">
      <a class="list-group-item" href="#account-menu" data-toggle="collapse">My Account</a>
        <ul class="aside-bar-submenu nav collapse" id="account-menu">
         <li>
           <a href="#">Notification</a>
         </li>
         <li>
           <a href="#">Registered Buyers</a>
         </li>
         <li>
           <a href="/myaccount">Setting</a>
         </li>
         <li>
           <a href="/freights">Update Freight Data</a>
         </li>
        </ul>
      <a class="list-group-item active" href="#b-menu" data-toggle="collapse">Booking</a>
      <ul class="aside-bar-submenu nav collapse" id="b-menu">
       <li>
         <a href="/bookings/confirmed">Confirmed</a>
       </li>
       <li>
         <a href="/bookings/pending">Pending Confirmation</a>
       </li>
       <li>
         <a href="#">Pending R1</a>
       </li>
       <li>
         <a href="#">Notification</a>
       </li>
      </ul>
    </div>
  </aside>
</div>

<div class="page-overlay"></div>