<div class="side-wrapper active">
  <aside class="aside-bar" id="sidebar-content">
    <div class="list-group aside-menu">
      <a class="list-group-item" href="#account-menu" data-toggle="collapse">HOW IT WORKS</a>
      <a class="list-group-item" href="#account-menu" data-toggle="collapse">COMPANY</a>
    </div>
  </aside>
</div>

<div class="page-overlay"></div>